// layout组件样式
.app-layout {
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 200px;
    padding-top: 100px;
    box-sizing: border-box;
    overflow: hidden;
}
.app-menu-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    z-index: 21;
    .menu-top {
        height: 100px;
    }
}
.app-header-area {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 200px;
    height: 100px;
    z-index: 20;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    .app-header {
        position: relative;
        height: 60px;
        background: #fff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        z-index: 11;
        .header-logo {
            float: left;
            height: 100%;
            .logo,
            .name {
                display: inline-block;
                vertical-align: middle;
            }
            .logo {
                width: 152px;
                height: 100%;
                background: url("../assets/images/logo.png") no-repeat center;
                background-size: contain;
            }
            .name {
                font-size: 20px;
                font-weight: 600;
                color: #606266;
            }
        }
        .options {
            float: right;
            .item {
                display: inline-block;
                margin-right: 30px;
                padding-top: 15px;
                vertical-align: middle;
                color: #606266;
                .option {
                    display: inline-block;
                    cursor: pointer;
                }
                .option-icon {
                    padding: 3px 6px;
                    color: #606266;
                }
                .option-icon:hover,
                .option.user .text:hover {
                    color: #303133;
                }
                .option.user {
                    .text {
                        font-size: 14px;
                        font-weight: 600;
                        color: #606266;
                    }
                }
            }
        }
    }
    .app-tags {
        height: 40px;
        z-index: -1;
        overflow: hidden;
        background: #f6f6f6;
    }
}
.app-main-area {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: auto;
    background-color: #f0f0f0;
    z-index: 1;
    .main {
        min-width: 1080px;
        min-height: 100%;
        padding: 10px 10px 30px;
        box-sizing: border-box;
    }
}

// .page相关样式
.app-layout {
    .card-search {
        .search-item {
            width: 200px;
        }
        .ivu-card-body {
            padding-bottom: 0;
        }
    }
    .card-search + .card-table {
        margin-top: 15px;
    }
    .table-page {
        margin-top: 15px;
        text-align: right;
    }
    .table-options {
        margin-bottom: 15px;
        .search-item {
            width: 200px;
        }
    }
}
