// card search与table
#app {
    .card-search {
        .search-item {
            width: 200px;
        }
        .ivu-card-body {
            padding-bottom: 0;
        }
        .amount-range {
            font-size: 0;
            .search-number {
                width: 90px;
            }
        }
        .amount-range > .line {
            display: inline-block;
            width: 20px;
            font-size: 12px;
            text-align: center;
            vertical-align: middle;
        }
    }
    .card-search + .card-table {
        margin-top: 15px;
    }
    .table-page {
        margin-top: 15px;
        text-align: right;
    }
    .card-table .amount-total {
        font-size: 16px;
        color: #ff9900;
    }
    .table-options {
        margin-bottom: 15px;
        .search-item {
            width: 200px;
        }
    }
}
